<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797705694349-nd6hhgrkrvgr4um1rdldd5v65sp1rcei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797705694349-nd6hhgrkrvgr4um1rdldd5v65sp1rcei</string>
	<key>API_KEY</key>
	<string>AIzaSyC5og_r-bic36A0buhQ6njx7pycPxE496I</string>
	<key>GCM_SENDER_ID</key>
	<string>797705694349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MS.EmploymentMatching</string>
	<key>PROJECT_ID</key>
	<string>employment-matching</string>
	<key>STORAGE_BUCKET</key>
	<string>employment-matching.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797705694349:ios:2c4cf01233cd7bd3</string>
	<key>DATABASE_URL</key>
	<string>https://employment-matching.firebaseio.com</string>
</dict>
</plist>